[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
jinja2 = "*"
black = "*"
odmantic = "*"
aiohttp = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
